*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
}

.col-1{width: 8.33%;}
.col-2{width: 16.66%;}
.col-3{width: 25%;}
.col-4{width: 33.33%;}
.col-5{width: 41.66%;}
.col-6{width: 50%;}
.col-7{width: 58.33%;}
.col-8{width: 66.66%;}
.col-9{width: 75%;}
.col-10{width: 83.33%;}
.col-11{width: 91.66%;}
.col-12{width: 100%;}


.navbar{
    background-color: #91397f;
}

header div.jumbotron{
    min-height:475px;
    background: url("../img/university.jpg");
    background-size:cover;  
    text-align: center;
}









/* ####### Footer ####### */

footer {
    background: #5f2253;
    color: #fff;
    min-height: 300px;
    left: 0;
    bottom: 0;
    width: 100%;
}

.footer-content{
    width: 100%;
    display: flex; 
    flex-wrap: wrap;
    justify-content: center;
}
.footer-content .footer-top-menu{
    display: flex;
    justify-content: space-around;
    text-align: center;
    margin: 10px;
    border-style: solid;
    border-width: 0px 0px 2px 0px;
    padding: 10px;
    border-color: #000;
}

.footer-top-wrapper .footer-box{
    padding: 30px 40px 0px 0px;
    width: 33.33%;
}
.footer-box h6, .highlighted-item, .navbar-brand{
    font-size: 20px;
    font-weight: bold;
}

.footer-bottom-wrapper{
    background-color: #000;
    min-height: 12%;
}

.footer-bottom-menu{
    width: 66.66%;
}

.copyright{
    display: flex;
    justify-content: center;
    align-items: center;
}

footer li {
    display: inline-block;
    line-height: 50px;
    padding-right: 10px;
    list-style-type: none;
    text-align: left;
}
footer li a{
    color: #fff;
    margin: 0;
}

footer li a:hover{
    color: #fff;
}


@media all and (min-width: 992px) {
	.navbar .nav-item .dropdown-menu{  display:block; opacity: 0;  visibility: hidden; transition:.3s; margin-top:0;  }
	.navbar .nav-item:hover .nav-link{ color: #fff;  }
	.navbar .dropdown-menu.fade-down{ top:80%; transform: rotateX(-75deg); transform-origin: 0% 0%; }
	.navbar .dropdown-menu.fade-up{ top:180%;  }
	.navbar .nav-item:hover .dropdown-menu{ transition: .5s; opacity:1; visibility:visible; top:100%; transform: rotateX(0deg);}
}	

 
@media (max-width: 800px) {
   .footer-content .footer-box{
       margin: auto;
       width: 100%;
       text-align: center;

    }
    .footer-content{
        width: 100%;
        display: block;
        text-align: center;
    }
    .footer-content .footer-top-menu{
        display: block;
        /* padding: 0; */
        margin: 0;
    }
    .footer-bottom-wrapper{
        display: block;
    }
    .footer-bottom-menu{
        width: 100%;
    }
    .copyright{
        width: 100%;
    }
	.navbar .nav-item .nav-link, .dropdown-item{
        text-align: center;
    }
}