*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
}

.col-1{width: 8.33%;}
.col-2{width: 16.66%;}
.col-3{width: 25%;}
.col-4{width: 33.33%;}
.col-5{width: 41.66%;}
.col-6{width: 50%;}
.col-7{width: 58.33%;}
.col-8{width: 66.66%;}
.col-9{width: 75%;}
.col-10{width: 83.33%;}
.col-11{width: 91.66%;}
.col-12{width: 100%;}

.my-custom-scrollbar {
    position: relative;
    height: 80vh;
    overflow: auto;
}
    .table-wrapper-scroll-y {
    display: block;
}

/* #####  NAVIGATION AND HEADER####### */
.navbar{
    background-color: #91397f;
}

header div.jumbotron{
    min-height:475px;
    background: url("../img/university.jpg") no-repeat 0px;
    background-size:cover;  
    text-align: center;
    font-size: 50px;
}


/* ######### MAIN BODY ###########  */

main{
    overflow: hidden;
    min-height: 70vh;
    margin-bottom: 40px;
}
.main_title, header .jumbotron .display-4, .jumbotron .lead{
    text-align: center;
    font-weight: bold;
}

.mycarousel{
    overflow: hidden;
    width: 80%;
    background-color: #5f2253;
    margin: auto;
    color: #fff;
    border-radius: 10px;
}


.main-section{
    width: 100%;
    min-height: 100vh;
    background-color: #eee;
    display: flex;
}

main .cont{
    width: 80%;
    max-width: 120rem;
    margin: auto;
    padding:0 1.5rem;
}

.image-gallery{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: auto;
    grid-gap: 0.5rem;
    grid-template-areas: 'img-1 img-1 img-2 img-3'
                         'img-1 img-1 img-4 img-5'
                         'img-6 img-7 img-8 img-8'
                         'img-9 img-10 img-8 img-8';


                         
}


.image-gallery a{
    width: 100%;
    height: 12.5rem;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    display:flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    color: #fff;
    text-align: center;
}

.image-gallery a i{
    color: rgba(255,255,255,.6);
    font-size: 3rem;
    position: relative;
    z-index: 100;
    padding: 1rem 3rem;
    border-radius: .4rem;
    transition: opacity .5s;
}

.image-gallery a::before{
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.8);
    opacity: 0;
    transition: opacity 1s;
}

.image-gallery a:hover i,
.image-gallery a:hover::before{
    opacity: 1;
}

.img-1{
    grid-area: img-1;
    min-height: 25.5rem;
    background-image: url("../img/ceo-front.jpg");
}
.img-2{
    grid-area: img-2;
    background-color:#91397f;
}
.img-3{
    grid-area: img-3;
    background-color: #91397f;
}
.img-4{
    grid-area: img-4;
    background-color:#5f2253;
}
.img-5{
    grid-area: img-5;
    background-color:#91397f;
}
.img-6{
    grid-area: img-6;
    background-color:#5f2253;
}

.img-7{
    grid-area: img-7;
    background-color:#91397f;
}
.img-8{
    grid-area: img-8;
    min-height: 25.5rem;
    background-image: url("../img/ceo-side.jpg");
}
.img-9{
    grid-area: img-9;
    background-color:#5f2253;
}
.img-10{
    grid-area: img-10;
    background-color:#5f2253;
}

.img-9:hover{
    background-color: #1da1f2;
}
.img-7:hover{
    background-color: #4267b2;
}
.img-5:hover{
    background-image: radial-gradient(at 20% 120%, #feda78 20%, #e23467 60%, #ac2bb3 90%);
}

.image-gallery .social{
    display: block;
}

.main_column{
    margin: 10px;
	float: right;
	width: 65%;
}
.main_column h1, section h1{
    font-weight: bold;
}
.sidebar{
	float: left;
	width: 25%;
}

.sidebar .main_links li{
    list-style: none;
    line-height: 40px;
}
.sidebar .main_links li a{
    list-style: none;
}
.finance{
    padding: 50px;
    background: #e6e3e3
}
.card{
    background: #5f2253;
    font-weight: bold;
}
.funding, .second_column{
    background: #5f2253;
    color: #fff;
    margin: 20px 0px 20px 0px;
}
.funding_options{
    text-align: center;
    width: 60%;
    margin: auto;
}

.about-area{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #f1f1f1;
}

.about-section{
    background: url(../img/university.jpg) no-repeat;
    background-size: 80%;
    background-color: #fdfdfd;
    overflow: hidden;
    padding: 150px 0;
}

.about-container{
    width: 55%;
    float: right;
    background-color:#f1f1f1;
    /* background: rgba(253, 253, 253, 0.801); */
    padding: 100px;
}

.about-text{
    line-height: 30px;
    text-align: justify;
    margin-bottom: 40px;
}
.skills{
    display: flex;
    justify-content: space-between;
    font-weight: 700;
    font-size: 13px; 
}


.team-section{
    background: #91397f;
    padding: 1px 0px;
}
.team-section h1{
    font-size: 40px;
    margin-top: 20px;
    color:#eee;
    text-align: center;
}

.team-container{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.team-card{
    height: 500px;
    width: 290px;
    margin: 20px;
    box-shadow: 0 3px 5px #000;
    border-radius: 10px;
    overflow: hidden;
    text-align: center;
    background-color: #91397f;
}

.team-card .team-card-image img{
    width: 100%;
    height: 200px;
    object-fit: cover;
    clip-path: polygon(0 0, 100% 0%,100% 70%,45% 100%,0 70%);
}
.team-card .staff-image img{
    height: 120px;
    width: 120px;
    border-radius: 50%;
    border: 10px solid #91397f;
    margin-top: -90px;
    position: relative;
}

.team-card .team-card-info h3{
    color: #f0f0f0;
    font-size: 20px;
    padding: 10px 0;
    font-weight: bold;

}

.team-card .team-card-info span{
   font-size: 15px;
   color: #fad605;
}

.team-card .team-card-info p{
    font-size: 15px;
    padding: 10px 20px;
    color: #f0f0f0; 
}

.team-card .team-card-info .social-icons a{
    font-size: 20px;
    text-decoration: none;
    color: #fad605;
    margin-top: 10px;
    padding: 0 5px;
}

.team-card .team-card-info .social-icons a:hover{
    color: #f0f0f0;
}



/* ####### Footer ####### */

.main-footer {
    background: #5f2253;
    color: #fff;
    min-height: 300px;
    left: 0;
    bottom: 0;
    width: 100%;
}
.footer-content{
    width: 100%;
    display: flex; 
    flex-wrap: wrap;
    justify-content: center;
}
.footer-content .footer-top-menu{
    display: flex;
    justify-content: space-around;
    text-align: center;
    margin: 10px;
    border-style: solid;
    border-width: 0px 0px 2px 0px;
    padding: 10px;
    border-color: #000;
}

.footer-top-wrapper .footer-box{
    padding: 30px 40px 0px 0px;
    width: 33.33%;
;
}
.footer-box h6, .highlighted-item, .navbar-brand, .sidebar h5{
    font-size: 20px;
    font-weight: bold;
}

.footer-bottom-wrapper{
    background-color: #000;
    min-height: 12%;
}

.footer-bottom-menu{
    width: 66.66%;
}

.copyright{
    display: flex;
    justify-content: center;
    align-items: center;
}

footer li {
    display: inline-block;
    line-height: 50px;
    padding-right: 10px;
    list-style-type: none;
    text-align: left;
}
footer li a{
    color: #fff;
    margin: 0;
}

footer li a:hover{
    color: #fff;
}



/* Float four columns side by side */
.column {
    float: left;
    width: 25%;
    padding: 0 10px;
  }
  
  /* Remove extra left and right margins, due to padding in columns */
  .row {margin: 0 -5px;}
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  
  /* Style the counter cards */
  .mycard {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); /* this adds the "card" effect */
    padding: 16px;
    text-align: center;
    background-color: #f1f1f1;
  }






/* ####### MOBILE RESPONSIVENESS ######## */

@media all and (min-width: 992px) {
	.navbar .nav-item .dropdown-menu{  display:block; opacity: 0;  visibility: hidden; transition:.3s; margin-top:0;  }
	.navbar .nav-item:hover .nav-link{ color: #fff;  }
	.navbar .dropdown-menu.fade-down{ top:80%; transform: rotateX(-75deg); transform-origin: 0% 0%; }
	.navbar .dropdown-menu.fade-up{ top:180%;  }
	.navbar .nav-item:hover .dropdown-menu{ transition: .5s; opacity:1; visibility:visible; top:100%; transform: rotateX(0deg);}
}	

@media screen and (max-width:1200px) {
    .about-container{
        padding: 80px;
    }
    
}

@media screen and (max-width: 900px) {

    .cont{
        width: 100%;
    }
    .image-gallery{
        grid-template-areas: 'img-1 img-1 img-2 img-2'
                             'img-1 img-1 img-3 img-3'
                             'img-4 img-4 img-5 img-5'
                             'img-6 img-6 img-7 img-7'
                             'img-9 img-9 img-8 img-8'
                             'img-10 img-10 img-8 img-8'
                             ;
    }
    .image-gallery a{
        height: 10rem;
    }
    .img-1{
        min-height: 20.75rem;
    }
    .img-8{
        min-height: 20.75rem;
    }
    .about-section{
        background-size: 100%;
        padding: 100px 40px;
    }
    .about-container{
        width: 100%;
    }
}

@media (max-width: 800px) {
    .card-group{
        width: 80%;
        margin: auto;
        flex-wrap: wrap;
        padding-bottom: 20px;
    }

    .main-footer{
        overflow: hidden;
    }

   .footer-content .footer-box{
       margin: auto;
       width: 100%;
       text-align: center;
       padding: 20px;
    }
    main{
        overflow: hidden;
    }
    .main_column{
        width: 100%;
    }
    .sidebar{
        text-align: center;
        width: 100%;
    }
    .main_links li{
        display: inline-block;
        padding: 10px;
    }


    .footer-content{
        width: 100%;
        display: block;
        text-align: center;
    }
    .footer-content .footer-top-menu{
        display: block;
        margin: 0;
    }
    .footer-bottom-wrapper{
        display: block;
    }
    .footer-bottom-menu{
        width: 100%;
    }
    .copyright{
        width: 100%;
    }
	.navbar .nav-item .nav-link, .dropdown-item{
        text-align: center;
    }
}

@media screen and (max-width: 600px) {
    .image-gallery{
        grid-template-areas: 'img-1 img-1 img-1 img-1'
                             'img-2 img-2 img-2 img-2'
                             'img-3 img-3 img-3 img-3'
                             'img-4 img-4 img-4 img-4'
                             'img-5 img-5 img-5 img-5'
                             'img-6 img-6 img-6 img-6'
                             'img-7 img-7 img-7 img-7'
                             'img-9 img-9 img-9 img-9'
                             'img-10 img-10 img-10 img-10'
                             'img-8 img-8 img-8 img-8'
                             ;
    }
    .img-2,
    .img-3,
    .img-4,
    .img-5,
    .img-6,
    .img-7,
    .img-9,
    .img-10{
        min-height: 10rem;
        height: 10rem;
    }
    .img-1,
    .img-8{
        min-height: 20rem;
        height: 50rem;
    }
    .about-section{
        padding: 0;
    }
    .about-container{
        padding: 60px;
    }

}
